<%= form_for @user do |f| %>
  <p>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    
    <%= f.file_field :avatar %> <br>
    <br>
    <%= f.label :responsibilities %> <br>
    <%= f.text_area :responsibilities %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
