
<div id="profile-show">
  <div id="profile-avatar">
    <%= image_tag @user.avatar.url(:medium)%>
  </div>

  <div id="profile-panel">
    <strong> Nombre: </strong>
    <p>  <%= @user.name %> </p>

    <strong> Email: </strong>
    <p> <%= @user.emails %> </p>

    <strong> Lugar de nacimiento: </strong>
    <p> <%= @user.birthplace %> </p>

    <strong> Fecha de nacimiento: </strong>
    <p> <%= @user.birthdate %> </p>

    <strong> Intereses: </strong>
    <p> <%= @user.interests.name %> </p>

    <strong> Responsabilidades: </strong>
    <p> <%= @user.responsibilities %> </p>
  </div><br>

  <div id="back-button">
    <%= button_to "Back", welcomes_path, method: "get" %> 
  </div>

</div>
