
<body>
  <div class="top" id="logo">
    <%= image_tag "logo_w.png" %>

    <div id="banner" class = "bubble">
      <div id="title">
        <strong> Who is who </strong>
      </div>
    </div> 
  </div>

  <br>

<div id="show" >

  <div id="panel">
    <p id="fancy">Who's Who</p>
    <form>
      <input type="text" placeholder="Search..." required>
      <input type="button" value="Search">
    </form>

    <div id="accordion">
      <h3  class="blue_font">Intereses</h3>
      <div >
        <ul class="panel-list">
        <% @interests.each do |interest| %>
          <li class="interest-list">
          <%= check_box_tag interest.id, 'yes', false, class: "interests-checkbox"  %> <%= interest.name %>
          <% @filtered_users %>
          </li>
        <% end %>
        </ul>
      </div>
      <h3  class="blue_font">Originario de</h3>
      <div >
        <ul class="panel-list">
          <%= check_box_tag "prueba", "NO" %> 
        </ul>
      </div>
      <h3  class="blue_font">Escuela</h3>
      <div >
        <ul class="panel-list">
          
        </ul>
      </div>
      <h3  class="blue_font">Mes de Cumpleaños</h3>
      <div >
        <ul class="panel-list">
          
        </ul>
      </div>
      <h3  class="blue_font">Puesto</h3>
      <div >
        <ul class="panel-list">
          
        </ul>
      </div>

    </div>
  </div>

    <div id="photo-show">
      <%= render "users/grid" %>
      
    </div>
</div>

</body>
