
<body>
  <div class="top" id="logo">
    <%= image_tag "logo_w.png" %>

    <div id="banner" class = "bubble">
      <div id="title">
        <strong> Who is who </strong>
      </div>
    </div> 
  </div>

  <br>

<div id="show" >

  <div id="panel">
    <p id="fancy">Who's Who</p>
    <form>
      <input type="text" placeholder="Search..." required>
      <input type="button" value="Search">
    </form>

    <div id="accordion">
      <h3  class="blue_font">Intereses</h3>
      <div >
        <% @interests.each do |interest| %>
        <p>
          <%= check_box_tag (interest.name ) %> <%= interest.name %>
        </p>
        <% end %>
      </div>
      <h3  class="blue_font">Originario de</h3>
      <div >
        <p>
          
        </p>
      </div>
      <h3  class="blue_font">Escuela</h3>
      <div >
        <p>
          
        </p>
      </div>
      <h3  class="blue_font">Mes de Cumpleaños</h3>
      <div >
        <p>
          
        </p>
      </div>
      <h3  class="blue_font">Puesto</h3>
      <div >
        <p>
          
        </p>
      </div>

    </div>
  </div>

    <div id="photo-show">

      <table id="centre-table" class="polaroids">
        <% m = 0 %>
        <% for i in 1..row_count %>
        <tr>
            <% @users.drop(m).each_with_index do |user, m| break if m == 6 %>
              <td id="polaroid-format">
                <%=  image_tag(user.avatar.url(:thumb), id: user.id, class: "table_image") %> 
                <p id="polaroid-text">
                  <%= user.name %>
                </p>
              </td>
            <% end %>
            <% m += 6 %> 
        </tr>
        <% end %>   
      </table>

    </div>
</div>

</body>
